# Saved models and logs
saves/

# Weights and Biases
wandb/

# Python compiled files
__pycache__/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace